doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		title= title
		meta(name='viewport',content='width=device-width,initial-scale=1')
		link(rel='stylesheet', href='/stylesheets/style.css')

	body
		.app
			header
				h1(style='font: small-caps bold 24px/1 sans-serif;'
					) Smart Agri
		main
			block content
		aside
			p It will
			p be
			p updated
			p soon
